:host {
	display: block;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background-color: #ccc;
	border-radius: 5px;
}

.progress-bar-fill {
	height: 100%;
	background-color: #000;
	border-radius: 5px;
	transition: width 0.3s ease-in-out;
}
