:host {
	display: block;
}

button {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	background-color: #000;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

.button-group {
	display: flex;
	gap: 10px;
}
